<div class="container">
  <h2 class="m-2">Ajout le temps du projet</h2>
  <h6 class="m-1"><b>Nom du projet</b> : {{project.nom_projet}}</h6>
  <h6 class="m-1"><b>Budjet</b> :{{project.bugjet}}</h6>
  <h6 class="m-1"><b>Taux horaire</b> :{{project.taux_horaire}}</h6>

  <form  [formGroup]="timeForm" (ngSubmit)="onSubmit()">
    <div class="form-group" class="m-2">
      <label for="email">Date depart</label>
      <input type="date" class="form-control" id="email" formControlName="date_depart" name="date_depart" required>
    </div>
    <div class="form-group" class="m-2">
      <label for="password">Mot de passe</label>
      <input type="date" class="form-control" id="password" formControlName="date_fin" name="date_fin" required>
    </div>
    <button type="submit" class="m-2">Ajouter</button>
  </form>
  <p id="result-message" class="m-2"></p>
  <p class="m-2">retour au <a href="dashboard">menu principal</a></p>
</div>
